<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>AlameenHyper</title>

<!-- Google Font -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/fav.png' %}">


</head>
<body>

    <div class="page-wrapper">
        <header class="header">
        {% include 'store/header.html' %}

        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Pages</span>
                        <ul class="depart-hover">
                            <li><a href="/aboutUs/">About Us</a></li>
                            <li><a href="/contactUs/">Contact Us</a></li>
<!--                            <li><a href="#">Underwear</a></li>-->
<!--                            <li><a href="#">Kid's Clothing</a></li>-->
<!--                            <li><a href="#">Brand Fashion</a></li>-->
<!--                            <li><a href="#">Accessories/Shoes</a></li>-->
<!--                            <li><a href="#">Luxury Brands</a></li>-->
<!--                            <li><a href="#">Brand Outdoor Apparel</a></li>-->
                        </ul>
                    </div>
                </div>

                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/store/">Store</a></li>
                        <li><a href="/grocery/">Grocery</a>
<!--                            <ul class="dropdown">-->
<!--                                <li><a href="#">Men's</a></li>-->
<!--                                <li><a href="#">Women's</a></li>-->
<!--                                <li><a href="#">Kid's</a></li>-->
<!--                            </ul>-->
                        </li>
                        <li><a href="/freshFood/">Fresh Food</a></li>
                        <li><a href="/homeAndLiving/">Home & Living</a></li>
                        <li><a href="/personalCare/">Personal Care</a>
<!--                            <ul class="dropdown">-->
<!--                                <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>-->
<!--                                <li><a href="./check-out.html">Checkout</a></li>-->
<!--                                <li><a href="./faq.html">Faq</a></li>-->
<!--                                <li><a href="./register.html">Register</a></li>-->
<!--                                <li><a href="./login.html">Login</a></li>-->
<!--                            </ul>-->
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
        </header><!-- End .header -->
    </div>

<section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                            <h2>About Al Ameen Hypermarket</h2>
                            <p>since <span>- Jan 26, 2011</span></p>
                        </div>
<!--                        <div class="blog-large-pic">-->
<!--                            <img src="img/blog/blog-detail.jpg" alt="">-->
<!--                        </div>-->
                        <div class="blog-detail-desc">
                            <p>AL  AMEEN ”
Means the most honest. Prophet Muhammed was Al Ameen, who never told a lie, even to his critics niether rivals,
“AL AMEEN  SUPER MARKET ” means a place where most honest trade takes place
Amidst happiness, Let us go back a little  behind of our past glorious days.
Kuzhikkattil Traders, a high class provision store took its birth in 1970, in the heart of parappanangadi town. Since there, it started serving common people of parappanangadi with utmost sincerity and unbelievable authority in the market .Over a period of time, they got established in the minds of customers  be cause they believed in serving the public , keeping the time schedule from 8am to 8pm every day except Sundays as being holiday, competitive pricing of goods, supply of high quality  materials, never ending stocks of various things and so on,  What not!
Our rapport with publics went on smoothly as a result of which we were compelled, to come out with a whole sale store to make available every goods to the needy  at a very considerable price.
The wholesale store is AL AMEEN the most honest. Most genuine provisions goods selling house of kuzhikattil Traders.
AL AMEEN Store knew the pulse of the market and made available the goods wanted by the common people.
And one fine morning, Al ameen store  inaugurated a super market  by name AL AMEEN SUPER MARKET, to be precisely telling Jan26th, 2011,On republic day,  the birth of AL AMEEN SUPER MARKET took place in Kadalundi Road at the starting point of the newly constructed Railway over bridge. A long cherished wish of the people of parappanangadi came true.
                                As time passed, the kind hearted people of parappanangadi kept their faith in us and as did we. As a commitment to these
                                people, we expanded our range and now AL AMEEN SUPER MARKET has become AL AMEEN HYPERMARKET.
                            </p>
                        </div>
                        <div class="blog-quote">
                            <p>“ Without faith a man can do nothing; with it all things are possible.” <span> – Sir William Osler</span></p>
                        </div>

<!--                        <div class="tag-share">-->
<!--                            <div class="details-tag">-->
<!--                                <ul>-->
<!--                                    <li><i class="fa fa-tags"></i></li>-->
<!--                                    <li>Travel</li>-->
<!--                                    <li>Beauty</li>-->
<!--                                    <li>Fashion</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="blog-share">-->
<!--                                <span>Share:</span>-->
<!--                                <div class="social-links">-->
<!--                                    <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-youtube-play"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Banner Section Begin -->

    <div class="blog-detail-title">
                            <h2>Browse Products:</h2>
<!--                            <p>since <span>- Jan 26, 2011</span></p>-->
                        </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/grocery.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/grocery/" ><h4>Grocery</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/fresh.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/freshFood/" ><h4>Fresh Foods</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/home.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/homeAndLiving/" ><h4>Home & Living</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/personal.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/personalCare/" ><h4>Personal Care</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Banner Section End -->




{% include 'store/footer.html' %}



    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>