<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>AlameenHyper</title>

<!-- Google Font -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/fav.png' %}">


</head>
<body>

    <div class="page-wrapper">
        <header class="header">
        {% include 'store/header.html' %}

        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Pages</span>
                        <ul class="depart-hover">
                            <li><a href="/aboutUs/">About Us</a></li>
                            <li><a href="/contactUs/">Contact Us</a></li>
<!--                            <li><a href="#">Underwear</a></li>-->
<!--                            <li><a href="#">Kid's Clothing</a></li>-->
<!--                            <li><a href="#">Brand Fashion</a></li>-->
<!--                            <li><a href="#">Accessories/Shoes</a></li>-->
<!--                            <li><a href="#">Luxury Brands</a></li>-->
<!--                            <li><a href="#">Brand Outdoor Apparel</a></li>-->
                        </ul>
                    </div>
                </div>

                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/store/">Store</a></li>
                        <li><a href="/grocery/">Grocery</a>
<!--                            <ul class="dropdown">-->
<!--                                <li><a href="#">Men's</a></li>-->
<!--                                <li><a href="#">Women's</a></li>-->
<!--                                <li><a href="#">Kid's</a></li>-->
<!--                            </ul>-->
                        </li>
                        <li><a href="/freshFood/">Fresh Food</a></li>
                        <li><a href="/homeAndLiving/">Home & Living</a></li>
                        <li><a href="/personalCare/">Personal Care</a>
<!--                            <ul class="dropdown">-->
<!--                                <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>-->
<!--                                <li><a href="./check-out.html">Checkout</a></li>-->
<!--                                <li><a href="./faq.html">Faq</a></li>-->
<!--                                <li><a href="./register.html">Register</a></li>-->
<!--                                <li><a href="./login.html">Login</a></li>-->
<!--                            </ul>-->
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
        </header><!-- End .header -->
    </div>
<section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contacts Us</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, maki years old.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Address:</span>
                                <p>Al Ameen Hypermarket, Kadalundi Road parappanangadi.</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>+91 999 555 9990</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p> alameenhyper@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-title">
                        <h4>Locate Us</h4>
                    </div>
                    <div class="map spad">
        <div class="container">
            <div class="map-inner">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.7990491476!2d75.85344991434842!3d11.053687657038314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba652550e7962bd%3A0x83d046542e27890d!2sAl-Ameen%20Hyper%20market!5e0!3m2!1sen!2sin!4v1601360289929!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>"

            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Banner Section Begin -->

    <div class="blog-detail-title">
                            <h2>Browse Products:</h2>
<!--                            <p>since <span>- Jan 26, 2011</span></p>-->
                        </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/grocery.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/grocery/" ><h4>Grocery</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/fresh.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/freshFood/" ><h4>Fresh Foods</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/home.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/homeAndLiving/" ><h4>Home & Living</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img src="{% static 'img/personal.jpg' %}" alt="">
                        <div class="inner-text">
                            <a href="/personalCare/" ><h4>Personal Care</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Banner Section End -->




{% include 'store/footer.html' %}



    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>